.LearningRoute {
    color: #3c3c3c;
    font-size: 120%;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.NextWord_next-word {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 10px;
    font-size: 35px;
}

.NextWord_scoreboard {
    margin-top: 15px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.NextWord_header {
    font-size: 40px;
}   

.NextWord_button {
    min-width: 30%;
    margin: 8px 0px;
    padding: 8px 0px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
